header#header
    .title
        a(href='/', ng-href='/#!')
            span.media-container
                img(src=image)
            h1=title
        
        span.icon-group
            //- label=description
            for item in social
                a(href=item.link, title=item.title): i.icon(class='icon-' + item.icon)
            if rss
                a(href=rss, title='RSS'): i.icon(class='icon-rss')

    .search
        .card.card-input
            i.icon.icon-search
            input(type='search', placeholder=strings.searchPlaceholder)