header
    .title
        a(href='#!')
            span.media-container
                img(src=image)
            h1=title
        if social.length > 0
            span.icon-group
                //- label=description
                for item in social
                    a(href=item.link, title=item.title): i.icon(class='icon-' + item.icon)

    .search
        .card.card-input
            i.icon.icon-search
            input(type='search', placeholder='ابحث في المدونة')